<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>SpurguXservlet</servlet-name>
    <servlet-class>fi.jsaarinen.spurgux.SpurguXservlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SpurguXservlet</servlet-name>
    <url-pattern>/spurgux</url-pattern>
  </servlet-mapping>
</web-app>  